aiohappyeyeballs
aiohttp
asyncio
aiosignal
aiosqlite
attrs
certifi
charset-normalizer
firebase-admin
firebase
discord.py
docopt
frozenlist
idna
multidict
pipreqs
propcache
python-dateutil
python-dotenv
pytz
requests
six
typing_extensions
urllib3
yarg
yarl